<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link rel="stylesheet" href="../static/navbar.css" />
  </head>
  <body>
    <nav>
      <div class="logo">Logo</div>
      <div class="search">
        <form id="searchForm" onsubmit="searchProducts()">
          <input
            type="text"
            id="searchInput"
            placeholder="Search products by name"
          />
          <button type="submit">Search</button>
        </form>
      </div>

      <div class="account">
        <button id="accountBtn">Account</button>
        <div class="dropdown-content" id="dropdownContent">
          <a href="#">Account Settings</a>
          <a href="#">Logout</a>
        </div>
      </div>
    </nav>
  </body>
</html>
